.bloc-content {
    display: grid;
    grid-template-rows: 55px 1fr;

    @media screen and (min-width:1440px) {
        grid-template-rows: 65px 1fr;
    }


    .title {
        background-color: #2DA68E;
        width: 100%;
        border-radius: 20px 20px 0 0;

        h2 {
            color: #FFF;
            margin: 0;
            padding: 15px 25px;
            text-align: left;


            @media screen and (min-width:1440px) {
                padding: 20px 25px;
            }
        }
    }

    .text {
        background-color: #e6e6e6;
        padding: 25px;


        h3 {
            margin: 0;

            @media screen and (min-width:768px) {
                font-size: 20px;
            }
        }

        p {
            font-size: 18px;
            text-align: justify;

            @media screen and (min-width:768px) {
                font-size: 20px;
            }

            @media screen and (min-width:1440px) {
                font-size: 22px;
            }
        }
    }
}