.background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #A64D2D;
    width: 96%;
    height: 130px;
    color: #FFF;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    border-radius: 40px 0 40px 0;

    h1,
    h2 {
        margin: 0;
    }

    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 20px;
    }
}