.background {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url(../../../public/assets/bandeau.png);
    object-fit: cover;


    width: 96%;
    height: 130px;
    color: #FFF;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    border-radius: 40px 0 40px 0;

    h1,
    h2 {
        margin: 0;
        color: #A64D2D;
    }

    h1 {
        font-size: 35px;

    }

    h2 {
        font-size: 20px;
    }
}