.pictures-carrousel {
    width: 100%;
    height: 280px;
    position: relative;

    @media screen and (min-width:768px) {
        height: 420px;
    }

    @media screen and (min-width:1024px) {
        height: 550px;
    }

    @media screen and (min-width:1920px) {
        height: 650px;
    }

    .image-carousel {
        width: 100%;
        height: 280px;
        object-fit: cover;

        @media screen and (min-width:768px) {
            height: 420px;
        }

        @media screen and (min-width:1024px) {
            height: 550px;
        }

        @media screen and (min-width:1920px) {
            height: 650px;
        }
    }

    .arrows {
        position: absolute;
        top: 0;
        left: 0px;
        bottom: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        img {
            height: 40px;
            width: auto;
            padding: 5px;
        }
    }
}